@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Open+Sans:ital,wght@0,800;1,800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
.header-view{
    max-width: 1170px;
    margin: 0 auto;
    /* background-color: bisque; */
}
.topbar-container{
    /* border: 2px solid blue; */

    min-height: 15px;
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.topbar-container img{
    width: 48px;
}

.travel-icon{
    color:  #131318;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 2.1rem;
    width: 50%;
}
.travel-color{
    color:  #FF5400;
    font-weight: 800;
    font-size: 2.1rem;
}
.items-links a{
    text-decoration: none;
    justify-content: space-between;
    width: 50%;
    align-items:center;
    padding: 10px;
}
.home-link{
    color:  #FF5400;

}
/* Banner section start */
.background-img{
background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
width: 1170px;
height: 500px;
margin: 145px auto;
margin-top: 100px;
border-radius: 1rem;
/* text-align: center; */

}
.bannser-title{
    color: #FFF;
    /* margin-top: 250px; */
    padding: 10px;
    font-size: 4rem;
    font-weight: 800;
    justify-content: center;
    
  
}
.tour-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;

}

.img-container{
    background-image: url(Images/Rectangle\ 4.png);
}
.search-container{

    display: flex;

    border-radius: 8px;
    position: relative;
    width: 175px;
    height: 50px;
    gap: 24px;
    margin: 1rem;
    padding: 5px;
}

#find-now{


    background-color:  #FF5400;
    width: 100%;
    height: 50px;
    text-decoration: #FFF;
   

/* tour style start */
.tour-description{
    max-width: 1170px;
    margin: 0 auto;
     min-height: 500px; 
    /* background-color: antiquewhite; */
    /* border: 5px solid gold; */
    display: flex;
 

}

.tour-text{
    /* border: 2px solid greenyellow; */
    width: 60%;
}

.read-btn{
    border-radius: 8px;
    background: #FF5400;
    width: 35px;
}

.tour-img{
    /* border: 2px solid #FF5400; */
    border: 1rem;
    border-radius: 16px;
    /* width: 40%; */
    height: 550px;
}
.tour-img img{
    width: 100%;
}



/* tour style end */

/* destination section start here */
.destination-details{
    max-width: 1170px;
    margin: 0 auto;
}
.destination-title{
    text-align: center;

    justify-content: center;
   
    argin-top: 40px;
}

.img-container{
    max-width: 1170px;
    margin: 30px auto;
    display: grid;
    grid-column-start: 2;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 24px;
}
.img-container img{
 padding: 15px;
 border-radius: 16px;
}

/* destination section end here */




/* Responsive */
@media screen and (max-width:600px)
{
    .topbar-container{
        flex-direction: column;
        margin-left: 20px;
    }
    .items-links{
        flex-direction: column;
    }
    .topbar-container{
        flex-direction: column;
    }
    .travel-icon{
        flex-direction: column;
        width: 100%;
    }
    .img-container{
        max-width: 100%;

        grid-template-columns: repeat(1, 1fr);
    
        gap: 10px;
}