@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Open+Sans:ital,wght@0,800;1,800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
.header-view{
    max-width: 1170px;
    margin: 0 auto;
    background-color: bisque;
}
.topbar-container{
    /* border: 2px solid blue; */
    min-height: 15px;
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.topbar-container img{
    width: 48px;
}

.travel-icon{
    color:  #131318;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 2.1rem;
    width: 50%;
}
.travel-color{
    color:  #FF5400;
    font-weight: 800;
    font-size: 2.1rem;
}
.items-links a{
    text-decoration: none;
    justify-content: space-between;
    width: 50%;
    align-items:center;
    padding: 10px;
}
.home-link{
    color:  #FF5400;

}
/* Banner section start */
.background-img{
background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
width: 1170px;
height: 500px;
margin: 145px auto;
border-radius: 1rem;
}
.bannser-title{
    color: #FFF;
    /* margin-top: 250px; */
    padding: 10px;
    font-size: 4rem;
    font-weight: 800;
    align-items: center;
  
}

 






@media screen and (max-width:600px)
{
    .topbar-container{
        flex-direction: column;
        margin-left: 20px;
    }
    .items-links{
        flex-direction: column;
    }

}